<!DOCTYPE html>
<html lang="en" ng-app="mainApp">
    <head>
        <title>Angular JS</title>
        <meta charset="UTF-8">

        <link rel="stylesheet" href="../sources/bootstrap.min.css">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css">

        <script type="text/javascript" src="../sources/angular.min.js"></script>
        <script type="text/javascript" src="../sources/underscore-min.js"></script>

        <script type="text/javascript" src="main.js"></script>
        
    </head>
    <body ng-controller="contactsController">

       
        <div class="row">
            <div class="col-md-6 col-md-offset-3">
                <form class="form-horizontal" name="contactForm">
                    <fieldset>                
                        <legend>Contato</legend>
                        
                        <div class="form-group">
                            <label class="col-md-4 control-label" for="name">Name</label>  
                            <div class="col-md-4">
                                <input ng-model="contact.name" id="name" name="name" type="text" placeholder="Ex: Marcos" class="form-control input-md" required="">
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="col-md-4 control-label" for="email">Email</label>  
                            <div class="col-md-4">
                                <input ng-model="contact.email" id="email" name="email" type="email" placeholder="Ex: marcos@mail.com" class="form-control input-md" required=""> 
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="col-md-4 control-label" for="age">Age</label>  
                            <div class="col-md-4">
                                <input ng-model="contact.age" id="age" name="age" type="number" placeholder="Ex: 21" class="form-control input-md" required="">
                            </div>
                        </div>

                        <div class="form-group">
                          <label class="col-md-4 control-label" for="gender">Gender</label>
                          <div class="col-md-4"> 
                            <label class="radio-inline" for="gender-0">
                              <input type="radio" name="gender" id="gender-0" ng-model="contact.gender" value="M">
                              Male
                            </label> 
                            <label class="radio-inline" for="gender-1">
                              <input type="radio" name="gender" id="gender-1" ng-model="contact.gender" value="F">
                              Female
                            </label>
                          </div>
                        </div>

                       <div class="form-group" ng-show="contact.gender == 'F'">
                          <label class="col-md-4 control-label" for="single">Single</label>
                          <div class="col-md-4"> 
                            <label class="radio-inline" for="single-0">
                              <input type="radio" name="single" id="single-0" ng-model="contact.single" value="true">
                              Yes
                            </label> 
                            <label class="radio-inline" for="single-1">
                              <input type="radio" name="single" id=" single-1" ng-model="contact.single" value="false">
                              No
                            </label>
                          </div>
                        </div>

                        
                        <div class="form-group">
                            <label class="col-md-10 control-label" for="save"></label>
                            <div class="col-md-2">
                                <button ng-click="save()" ng-disabled="contactForm.$invalid" id="save" name="save" class="btn btn-primary">Save</button>
                            </div>
                        </div>

                    </fieldset>
                </form>
            </div>
        </div>
                
        <div class="row">
            <div class="col-md-6 col-md-offset-3">
                <table class="table table-hover">
                    <thead>
                        <th></th>
                        <th>Name</th>
                        <th>Email</th>
                        <th>Age</th>
                        <th>Gender</th>
                        <th>Single</th>
                        <th></th>
                    </thead>
                    <tbody>
                        <tr ng-repeat="contact in contacts" ng-class="{'info': contact.selected}">
                            <td><a ng-click="edit(contact)"><i class="fa fa-pencil"></i></a></td>
                            <td>{{contact.name}}</td>
                            <td>{{contact.email}}</td>
                            <td>{{contact.age}}</td>
                            <td>{{contact.gender === 'M'? 'Male' : 'Female'}}</td>
                            <td>{{contact.single ? 'Yes' : 'No'}}</td>
                            <td><a ng-click="remove(contact)"><i class="fa fa-trash"></i></a></td>
                        </tr>    
                    </tbody>
                </table>
            </div>
        </div>
    </body>
</html>