<!DOCTYPE html>
<html lang="en" ng-app="mainApp">
    <head>
        <title>Angular JS</title>
        <meta charset="UTF-8">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css">
        <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.7/angular.min.js"></script>
        <script type="text/javascript">
          angular
            .module('mainApp', []);
          angular
            .module('mainApp')
            .controller('contactsController', [
                    function contactsController() {
                    const vm = this;

                    vm.counter = 1;
                    vm.contacts =  [{id: vm.counter, name: "Marcos Lisboa", age: 25, email: "marcosplisboa@live.com"}];
                    vm.contact = {id: '', name: "", age: '', email: ""};

                    vm.save = () => {
                        if (vm.contact.id) {
                            for (let index = 0; index < vm.contacts.length; index++) {
                                if (vm.contact.id === vm.contacts[index].id) {
                                    vm.contacts[index] = {id: vm.counter, name: vm.contact.name, age: vm.contact.age, email: vm.contact.email};
                                    break;
                                }
                            }
                        } else {
                            vm.counter += 1;
                            vm.contacts.push({id: vm.counter, name: vm.contact.name, age: vm.contact.age, email: vm.contact.email});
                        }

                        vm.contact = {};
                    };

                    vm.edit = (item) => {
                       vm.contact.id = item.id;
                       vm.contact.name = item.name;
                       vm.contact.age = item.age;
                       vm.contact.email = item.email;
                    };

                    vm.remove = (item) => {
                       vm.contact.id = item.id;
                       vm.contact.name = item.name;
                       vm.contact.age = item.age;
                       vm.contact.email = item.email;
                    };
                }
             ]);
        </script>

    </head>
    <body ng-controller="contactsController as vm">


        <div class="row">
            <div class="col-md-6 col-md-offset-3">
                <form class="form-horizontal" name="contactForm">
                    <fieldset>
                        <legend>Contato</legend>

                        <div class="form-group">
                            <label class="col-md-4 control-label" for="name">Name</label>
                            <div class="col-md-4">
                                <input ng-model="vm.contact.name" id="name" name="name" type="text" placeholder="Ex: Marcos" class="form-control input-md" required="">
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="col-md-4 control-label" for="email">Email</label>
                            <div class="col-md-4">
                                <input ng-model="vm.contact.email" id="email" name="email" type="email" placeholder="Ex: marcos@mail.com" class="form-control input-md" required="">
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="col-md-4 control-label" for="age">Age</label>
                            <div class="col-md-4">
                                <input ng-model="vm.contact.age" id="age" name="age" type="number" placeholder="Ex: 21" class="form-control input-md" required="">
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="col-md-10 control-label" for="save"></label>
                            <div class="col-md-2">
                                <button ng-click="vm.save()" ng-disabled="contactForm.$invalid" id="save" name="save" class="btn btn-primary">Save</button>
                            </div>
                        </div>

                    </fieldset>
                </form>
            </div>
        </div>

        <div class="row">
            <div class="col-md-6 col-md-offset-3">
                <table class="table table-hover">
                    <thead>
                        <th></th>
                        <th>Name</th>
                        <th>Email</th>
                        <th>Age</th>
                        <th></th>
                    </thead>
                    <tbody>
                        <tr ng-repeat="contact in vm.contacts">
                            <td><a data-ng-click="vm.edit(contact)"><i class="fa fa-pencil"></i></a></td>
                            <td>{{contact.name}}</td>
                            <td>{{contact.email}}</td>
                            <td>{{contact.age}}</td>
                            <td><a data-ng-click="vm.remove(contact)"><i class="fa fa-trash"></i></a></td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </body>
</html>