<!DOCTYPE html>
<html lang="en" ng-app="mainApp">
    <head>
        <title>Angular JS</title>
        <meta charset="UTF-8">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css">
        <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.7/angular.min.js"></script>
        <script type="text/javascript">
          var app = angular.module('mainApp', []);

          app.controller('contactsController', function ($scope){
              $scope.counter = 1;
              $scope.contacts = new Array({id: $scope.counter, name: "Marcos Lisboa", age: 25, email: "marcosplisboa@live.com"});
              $scope.contact = {id: '', name: '', age: '', email: ''};

              $scope.save = function () {
                  if ($scope.contact.id) {
                      for (var index = 0; index < $scope.contacts.length; index++) {
                          if ($scope.contact.id === $scope.contacts[index].id) {
                              $scope.contacts[index] = {id: $scope.counter, name: $scope.contact.name, age: $scope.contact.age, email: $scope.contact.email};
                              break;
                          }
                      }
                  } else {
                      $scope.counter += 1; 
                      $scope.contacts.push({id: $scope.counter, name: $scope.contact.name, age: $scope.contact.age, email: $scope.contact.email});
                  }

                  $scope.contact = {};
              }

              $scope.remove = function (item) {
                 for (var index = 0; index < $scope.contacts.length; index++) {
                     if (item.id === $scope.contacts[index].id) {
                         $scope.contacts.splice(index, 1);
                         break;
                     }
                 }
              }

              $scope.edit = function (item) {
                 $scope.contact.id = item.id;
                 $scope.contact.name = item.name;
                 $scope.contact.age = item.age;
                 $scope.contact.email = item.email;
              }
          }); 
      	</script>
        
    </head>
    <body ng-controller="contactsController">

       
        <div class="row">
            <div class="col-md-6 col-md-offset-3">
                <form class="form-horizontal" name="contactForm">
                    <fieldset>                
                        <legend>Contato</legend>
                        
                        <div class="form-group">
                            <label class="col-md-4 control-label" for="name">Name</label>  
                            <div class="col-md-4">
                                <input ng-model="contact.name" id="name" name="name" type="text" placeholder="Ex: Marcos" class="form-control input-md" required="">
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="col-md-4 control-label" for="email">Email</label>  
                            <div class="col-md-4">
                                <input ng-model="contact.email" id="email" name="email" type="text" placeholder="Ex: marcos@mail.com" class="form-control input-md" required=""> 
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="col-md-4 control-label" for="age">Age</label>  
                            <div class="col-md-4">
                                <input ng-model="contact.age" id="age" name="age" type="number" placeholder="Ex: 21" class="form-control input-md" required="">
                            </div>
                        </div>
                        
                        <div class="form-group">
                            <label class="col-md-10 control-label" for="save"></label>
                            <div class="col-md-2">
                                <button ng-click="save()" ng-disabled="contactForm.$invalid" id="save" name="save" class="btn btn-primary">Save</button>
                            </div>
                        </div>

                    </fieldset>
                </form>
            </div>
        </div>
                
        <div class="row">
            <div class="col-md-6 col-md-offset-3">
                <table class="table table-hover">
                    <thead>
                        <th></th>
                        <th>Name</th>
                        <th>Email</th>
                        <th>Age</th>
                        <th></th>
                    </thead>
                    <tbody>
                        <tr ng-repeat="contact in contacts">
                            <td><a data-ng-click="edit(contact)"><i class="fa fa-pencil"></i></a></td>
                            <td>{{contact.name}}</td>
                            <td>{{contact.email}}</td>
                            <td>{{contact.age}}</td>
                            <td><a data-ng-click="remove(contact)"><i class="fa fa-trash"></i></a></td>
                        </tr>    
                    </tbody>
                </table>
            </div>
        </div>
    </body>
</html>