<div class="col-md-6 col-md-offset-3">
    <br />
    <fieldset>
        <legend>Contatos</legend>
        <div class="col-md">
            <form class="form-horizontal">
                <div class="form-group">
                    <div class="col-md-4">
                        <input ng-model="userFilter.name" type="text" class="form-control input-md" placeholder="Filter Name" />
                    </div>
                    <div class="col-md-4">
                        <input ng-model="userFilter.email" type="text" class="form-control input-md" placeholder="Filter E-mail" />
                    </div>
                    <div class="col-md-4">
                        <input ng-model="userFilter.age" type="text" class="form-control input-md" placeholder="Filter Age" />
                    </div>
                </div>
            </form>
            <hr />
            <br />
            <table class="table table-hover">
                <thead>
                    <th></th>
                    <th><a ng-click="sort('name')">Name</a></th>
                    <th><a ng-click="sort('email')">Email</a></th>
                    <th><a ng-click="sort('age')">Age</a></th>
                    <th><a ng-click="sort('gender')">Gender</a></th>
                    <th><a ng-click="sort('single')">Single</a></th>
                    <th><a ng-click="sort('ammount')">Ammount</a></th>
                    <th></th>
                </thead>
                <tbody>
                    <tr ng-repeat="user in users | filter: userFilter | orderBy:fieldFilter:ascFilter" ng-class="{'info': user.selected}">
                        <td><a ng-click="edit(user)"><i class="fa fa-pencil"></i></a></td>
                        <td>{{user.name}}</td>
                        <td>{{user.email}}</td>
                        <td>{{user.age | number: 0}}</td>
                        <td>{{user.gender === 'M'? 'Male' : 'Female'}}</td>
                        <td>{{user.single ? 'Yes' : 'No'}}</td>
                        <td>{{user.ammount | currency}}</td>
                        <td>{{user.birthday | date: 'dd/MM'}}</td>
                        <td><a ng-click="remove(user)"><i class="fa fa-trash"></i></a></td>
                    </tr>
                </tbody>
            </table>
        </div>
    </fieldset>
</div>